form#user-form{
	margin-left: 30px;
	margin-top:10px;
}
.user-form-group{
	margin-left: 70px;
	margin-top: -32px;
}
.left_part{
	float: left;
	width: 130px;
	margin-left: 50px;
	font-size: 18px;
	color: black;
	border-right: 5px solid #333;
}
.tag > a{
	text-decoration: none;
	color: #333333;
	margin-top: 10px;
	display: block;
}
.tag{

}
.right_part{
	float: left;
	margin-left: 80px;
	font-size: 15px;
}
.title{
	display: block;
	float: left;
	width: 100px;
}
.right_part_cell{
	padding-top: 20px;
}
.submit{
	margin-top: 50px;
}
.containers{
	min-height: 500px;
}
.right_part{
	width: 700px;
}
.right_vehcile_cell > a{
	float: right;
}
.plate_number{
	font-weight: bold;
	margin-right: 20px;
}
.right_vehcile_cell{
	padding-top: 20px;
	border-bottom: 1px solid #9c9c9c;
}